
@{
    ViewBag.Title = "Encerramento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Obrigado por confiar na Awantt</h2>

@if(Session["usu"] != null)
{
    <a href="@Url.Action("Index", "Projeto")">Clique aqui para visualizar seus projetos</a>
}

