@model ws.eng.obj.ProjetoObj
@{
    ViewBag.Title = "Tamanho de Projeto";
}

<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<h2>Realize o pagamento do seu projeto</h2>

<div id="paypal-button"></div>

<script>
    paypal.Button.render({
        env: 'production', // Or 'sandbox',

        commit: true, // Show a 'Pay Now' button

        style: {
            color: 'gold',
            size: 'small'
        },

        payment: function (data, actions) {
            /*
             * Set up the payment here
             */
        },

        onAuthorize: function (data, actions) {
            /*
             * Execute the payment here
             */
        },

        onCancel: function (data, actions) {
            /*
             * Buyer cancelled the payment
             */
        },

        onError: function (err) {
            /*
             * An error occurred during the transaction
             */
        }
    }, '#paypal-button');
</script>

