
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrar o Sistema</h2>
<ul> 
    <li>@Html.ActionLink("Clientes", "Index", "Client", routeValues: null, htmlAttributes: new { title = "Orçamento para o Cliente" })</li>
    <li>@Html.ActionLink("Listar Usuários", "UserList", "Manager", routeValues: null, htmlAttributes: new { title = "Listar Usuários" })</li>
    <li>@Html.ActionLink("Distâncias Rodoviárias", "DistanciaList", "Manager", routeValues: null, htmlAttributes: new { title = "Distancia Rodoviária" })</li>
    <li>@Html.ActionLink("Países", "PaisList", "Manager", routeValues: null, htmlAttributes: new { title = "Países" })</li>
    <li>Listar Mensagens recebidas</li>
    <li>Listar Log de Erros</li>
</ul>

