@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Tivemos um problema...";
}

<h1 class="text-danger">ViewBag.Title.</h1>
<h2 class="text-danger">@ViewBag.Message</h2>
<h2 class="text-danger">Nosso suporte já foi informado. Caso deseje entre em contato conosco diretamente. Obrigado</h2>



